<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            h1{
                text-align: center
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="/blog">Main Blog Page</a>
            <a href="/newpost">Add New Blog Post </a>
        </nav>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}

        {% block content %}
        {% endblock %}
    </body>
</html>